<div class="container">

  <!-- ADDRESS REQUIRED ALERT -->
  <div ng-if="!overview.address" class="alert alert-warning" role="alert">
    <strong>Warning!</strong> You are required to have a bitcoin address on record.
    You can set your address on the <a ui-sref="dashboard.account" class="alert-link">Account</a> page.
  </div>

  <!-- USERS -->
  <div class="panel panel-primary overview">
    <div class="panel-heading"><h2 class="panel-title">Overview</h2></div>
    <ul class="list-group">
      <li ng-repeat="user in overview.users" class="list-group-item">{{user.email}}</li>
    </ul>
  </div>

</div>
