<div class="modal-header">
  <h3 class="modal-title">New Payment</h3>
</div>
<div class="modal-body">

  <!-- BALANCE FORM -->
  <form>
    <div class="form-group">
      <label for="balance">Balance</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input ng-model="create.balance" type="number" class="form-control" id="balance" placeholder="Balance">
        <div class="input-group-addon">.00</div>
      </div>
    </div>
  </form>

  <!-- INSTRUCTIONS -->
  <div ng-if="create.balance">
    <p>Scan the QR code below with your bitcoin wallet software, or send the bitcoin amount below to {{create.address}} to transfer the neccessary funds.</p>
  </div>

  <!-- BTC CONVERSION -->
  <div ng-if="create.balance" class="text-center well">
    <p class="h1">{{create.balance * create.rate | number:10}} &#x0243</p>
    <qrcode ng-if="create.balance" data="{{create.balance}}" size="200"></qrcode>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-link" type="button" ng-click="$dismiss()">Cancel</button>
</div>
