.auth {
  padding-top: 20px;

  .panel {
    @include center-block;

    box-shadow: 0 10px 10px 3px #222;
    width: 400px;
    max-width: 95%;
  }

  .logo {
    text-align: center;
    color: white;
    padding-bottom: 30px;

    img {
      @include center-block;

      height: 100px;
    }
  }
}
