<div class="container">
  <div class="panel panel-primary overview">
    <div class="panel-heading action-bar">
      <button ng-click="payments.create()" type="button" class="btn btn-secondary pull-right">New Payment</button>
      <h2 class="panel-title">Payments</h2>
    </div>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Payment Satoshis</th>
        <th>Fee Satoshis</th>
        <th>Mined At</th>
        <th>Confirmations</th>
      </thead>
      <tbody>
        <tr ng-if="payment.satoshis > 0" ng-repeat="payment in payments.payments">
          <td>{{payment.satoshis}}</td>
          <td>{{payment.tx.feeSatoshis}}</td>
          <td><span ng-if="payment.tx.blockTimestamp">{{payment.tx.blockTimestamp*1000 | date}}</span><span ng-if="!payment.tx.blockTimestamp">Pending...</span></td>
          <td>{{payment.confirmations}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
