<div class="panel panel-primary login">
  <div class="panel-heading"><h2>Login</h2></div>
  <div class="panel-body">
    <form ng-submit="login.submit(login.credentials)">

      <!-- EMAIL -->
      <div class="form-group">
        <label for="email">Email</label>
        <input ng-model="login.credentials.email" required type="email" class="form-control" id="email" placeholder="Email">
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label for="password">Password</label>
        <input ng-model="login.credentials.password" required type="password" class="form-control" id="password" placeholder="Password">
      </div>

      <!-- SUBMIT -->
      <button type="submit" class="btn btn-block btn-secondary">Login</button>
      <p ng-if="login.error" class="help-block">Login failed. Please try again. <code ng-if="login.error.code">code: {{login.error.code}}</code></p>
      <hr>
      <a ui-sref="auth.register">If you do not have an account, click here to register.</a>

    </form>
  </div>
</div>
