<div class="container">
  <div class="panel panel-primary overview">
    <div class="panel-heading"><h2 class="panel-title">Account</h2></div>
    <div class="panel-body">
      <form ng-submit="account.update(account.email, account.password, account.address)">

        <!-- EMAIL -->
        <div class="form-group">
          <label for="email">Email</label>
          <input ng-model="account.email" type="email" class="form-control" id="email" placeholder="Email">
        </div>

        <!-- ADDRESS -->
        <div class="form-group">
          <label for="address">Address</label>
          <input ng-model="account.address" type="text" class="form-control" id="address" placeholder="Address">
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
          <label for="password">Password</label>
          <input ng-model="account.password" type="password" class="form-control" id="password" placeholder="Password">
          <div class="help-block">Leave this field blank if you do not wish to update your password.</div>
        </div>

        <!-- SUBMIT -->
        <button type="submit" class="btn btn-block btn-secondary">Update</button>

      </form>
    </div>
  </div>
</div>
