//===========================
// general elements
//===========================

html, body {
  @include gradient-radial(lighten($brand-ternary, 5), $brand-ternary);

  height: 100%;
  width: 100%;
  background-color: $brand-ternary;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-weight: lighter;
}


//===========================
// box shadow
//===========================

.navbar, .panel, .alert {
  box-shadow: 0 10px 10px 3px #222;
}


//===========================
// panels
//===========================

.panel {
  border: 0px;

  .action-bar {
    @include clearfix();

    .panel-title {
      margin-top: 8px;
   }
  }
}

//===========================
// buttons
//===========================

.btn-secondary {
  @include button-variant(white, $brand-secondary, $brand-secondary);
}


//===========================
// qrcode
//===========================

qrcode {
  @include center-block;
}
