<div class="dashboard">

  <!-- NAVIGATION -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="dashboard.collapsed = !dashboard.collapsed">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="dashboard.overview">Get Payed</a>
      </div>

      <div class="navbar-collapse" uib-collapse="dashboard.collapsed">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="dashboard.overview">Overview</a></li>
          <li ui-sref-active="active"><a ui-sref="dashboard.payments">Payments</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href ng-click="dashboard.logout()">Logout</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- UI VIEW -->
  <ui-view></ui-view>

</div>
